:root {
    --white: #FFFEFA;
    --light-blue: #799CF0;
    --dark-blue: #132FBA;
    --beige: #FFF6D2;
    background-color: var(--white);
}

@font-face {
    font-family: workSans;
    src: url('fonts/WorkSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: workSans;
    src: url('fonts/WorkSans-Italic-VariableFont_wght.ttf');
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: workSans;
}
